html  {
    box-sizing: border-box;
    min-height: 100%;
    background-color: #4762A1;
}

#parksIcon {
    display: block;
    width: 100px;
    height: 100px;
}

#navContainer {
    background-image:url("../images/png/family-travel-guide-mount-washington-hotel-new-hampshire-today-180423-tease.jpg");
}

#contentContainer div {

    background-color: #4762A1;
}

main {
    background-color: #4762A1;
}

.parkCards {
    display: flex;
    min-height: max-content;
    max-width: 500px;

}

#exampleDataList, #parkTypeDataList, #mountainDataList {
    width: 200px;
}

nav {
    background-image: url("../images/png/family-travel-guide-mount-washington-hotel-new-hampshire-today-180423-tease.jpg");
}













